# Игнорировать всё в папках сборки Visual Studio
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
[b]in/
[Oo]bj/
[Oo]bj[Ll]ib/

# Файлы отладчика
*.pdb
*.ilk
*.log

# Файлы автосохранения и пользовательские настройки
*.user
*.userosscache
*.sln.docstates

# Временные файлы
[Tt]humbs.db
[Tt]mp/

# Вся служебная папка Visual Studio
.vs/